<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="adminMypageMapper">

	<resultMap id="memberResultSet" type="member">
		<result column="MEMBER_NO" property="memberNo" />
		<result column="MEMBER_ID" property="memberId" />
		<result column="MEMBER_NAME" property="memberName" />
		<result column="EMAIL" property="email" />
		<result column="MEMBER_ENROLL_DATE" property="memberEnrollDate" />
		<result column="MEMBER_STATUS" property="memberStatus" />

	</resultMap>

	
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE MEMBER_STATUS = 'Y'
	</select>
	
	
	<select id="selectList" resultMap="memberResultSet">
		SELECT MEMBER_NO, MEMBER_ID, MEMBER_NAME,
		       EMAIL, MEMBER_ENROLL_DATE, MEMBER_STATUS
		FROM MEMBER
	</select>
	
	<!-- <select id="selectMember" resultMap="" parameterType="">
	
	
	</select> -->
	
</mapper>