<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="orderMapper">
	
	<resultMap id="cartResultSet" type="cart">
		<result column="CART_NO" property="cartNo"/>
		<result column="MEMBER_NO" property="memberNo"/>
		<result column="PRODUCT_NO" property="productNo"/>
		<result column="CART_AMOUNT" property="cartAmount"/>
		<result column="CART_STATUS" property="cartStatus"/>
		
		<result column="PRODUCT_NAME" property="productName" />
		<result column="PRODUCT_EXPLAIN" property="productExplain" />
		<result column="PRODUCT_PRICE" property="productPrice" />
		<result column="PRODUCT_IMG_PATH" property="productImgPath" />
	</resultMap>
	
	<resultMap id="orderResultSet" type="order">
		<result column="ORDER_NO" property="orderNo"/>
		<result column="ORDER_DATE" property="orderDate"/>
		<result column="ORDER_PRICE" property="orderPrice"/>
		<result column="MEMBER_NO" property="memberNo"/>
		<result column="SUBS_COUNT" property="subsCount"/>
		<result column="CUSTOMER_UID" property="customerUid"/>
		<result column="ORDER_RECEIPT" property="orderReceipt"/>
		<result column="ORDER_STATUS" property="orderStatus"/>
		<result column="SUBS_STATUS" property="subsStatus"/>
		<result column="DELEVERY" property="delivery"/>
		<result column="ADDRESS" property="address"/>
	</resultMap>
	
	<resultMap id="orderCartResultSet" type="orderCart">
		<result column="CART_NO" property="cartNo"/>
		<result column="ORDER_NO" property="orderNo"/>
	</resultMap>
	
	<select id="selectCountByCustomerUid" parameterType="string" resultType="_int">
		SELECT NVL(MAX(SUBS_COUNT), 0) "SUBS_COUNT"
		FROM ORDERS
		WHERE CUSTOMER_UID = #{customerUid}
		  AND ORDER_STATUS = 'Y'
	</select>
	
	<insert id="insertOrder" parameterType="order">
		INSERT INTO ORDERS (ORDER_NO
						  , ORDER_DATE
						  , ORDER_PRICE
						  , MEMBER_NO
						  , SUBS_COUNT
						  , CUSTOMER_UID
						  , ORDER_RECEIPT
						  , ORDER_STATUS
						  , SUBS_STATUS
						  , ADDRESS)
					VALUES (#{orderNo}
						  , TO_DATE(#{orderDate}, 'YYYYMMDDHH24MISS')
						  , #{orderPrice}
						  , #{memberNo}
						  , #{subsCount}
						  , #{customerUid}
						  , #{orderReceipt}
						  , #{orderStatus}
						  , #{subsStatus}
						  , #{address})
	</insert>
	
	<select id="selectCart" parameterType="_int" resultMap="cartResultSet">
		SELECT CART_NO
		     , PRODUCT_NO
		     , CART_AMOUNT
		     , PRODUCT_NAME
		     , PRODUCT_EXPLAIN
		     , PRODUCT_PRICE
		     , PRODUCT_IMG_PATH
		  FROM CART
		  JOIN PRODUCT USING (PRODUCT_NO)
		 WHERE MEMBER_NO = #{memberNo} 
		   AND CART_STATUS = 'Y'
		 ORDER BY CART_NO
	</select>
	
	<insert id="insertOrderCart" parameterType="orderCart">
		INSERT INTO ORDER_CART
		VALUES (#{cartNo}, #{orderNo})
	</insert>
	
	<update id="deleteCart" parameterType="_int">
		UPDATE CART
		SET CART_STATUS = 'N'
		WHERE MEMBER_NO = #{memberNo}
		  AND CART_STATUS = 'Y'
	</update>
	
	<update id="updateOrder" parameterType="order">
	
	</update>
	
	<update id="deleteOrder" parameterType="_int">
	
	</update>
	
	<select id="selectCartNoForSubs" parameterType='_int' resultMap="orderCartResultSet">
		SELECT CART_NO
		FROM ORDER_CART
		WHERE ORDER_NO = (SELECT ORDER_NO
						  FROM ORDERS
						  WHERE MEMBER_NO = #{memberNo}
						    AND SUBS_STATUS = 'Y'
							AND ORDER_STATUS = 'N'
							AND SUBS_COUNT = 1
						  ORDER BY ORDER_NO)
		ORDER BY CART_NO
	</select>
	
	<insert id="insertCart" parameterType="cart">
		INSERT INTO CART (CART_NO
						, MEMBER_NO
						, PRODUCT_NO
						, CART_AMOUNT)
				   VALUES (SEQ_CART_NO.NEXTVAL
				   		 , #{memberNo}
				   		 , #{productNo}
				   		 , #{cartAmount})		
	</insert>
	
	<select id="selectIsCart" parameterType="cart" resultType="_int">
		SELECT NVL(MAX(CART_AMOUNT), 0) "CART_AMOUNT"
		  FROM CART
		 WHERE MEMBER_NO = #{memberNo}
		   AND PRODUCT_NO = #{productNo}
		   AND CART_STATUS = 'Y'
	</select>
	
	<update id="updateCart" parameterType="cart">
		UPDATE CART
		   SET CART_AMOUNT = #{cartAmount}
		 WHERE MEMBER_NO = #{memberNo}
		   AND PRODUCT_NO = #{productNo}
		   AND CART_STATUS = 'Y'
	</update>
	
	<delete id="removeCart" parameterType="cart">
			DELETE CART
			 WHERE PRODUCT_NO = #{productNo}
			   AND MEMBER_NO = #{memberNo}
			   AND CART_STATUS = 'Y'
	</delete>
	
	<select id="selectMyOrderListCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*)
		FROM ORDERS
		WHERE MEMBER_NO = #{memberNo}
	</select>
	
	<select id="selectMyOrderList" parameterType="_int" resultMap="orderResultSet">
		SELECT ORDER_NO
			 , TO_CHAR(ORDER_DATE, 'YYYY-MM-DD') "ORDER_DATE"
			 , ORDER_PRICE
			 , SUBS_COUNT
			 , ORDER_STATUS
			 , SUBS_STATUS
		FROM ORDERS
		WHERE MEMBER_NO = #{memberNo}
		ORDER BY ORDER_NO DESC
	</select>
	
	<select id="searchOrderListByDateCount" parameterType="hashmap" resultType="_int">
		SELECT COUNT(*)
		FROM ORDERS
		WHERE MEMBER_NO = #{memberNo}
		  AND ORDER_DATE BETWEEN TO_DATE(#{startDate}, 'YYYY-MM-DD') AND TO_DATE(#{endDate}, 'YYYY-MM-DD')
	</select>
	
	<select id="searchOrderListByDate" parameterType="hashmap" resultMap="orderResultSet">
		SELECT ORDER_NO
			 , TO_CHAR(ORDER_DATE, 'YYYY-MM-DD') "ORDER_DATE"
			 , ORDER_PRICE
			 , SUBS_COUNT
			 , ORDER_STATUS
			 , SUBS_STATUS
		FROM ORDERS
		WHERE MEMBER_NO = #{memberNo}
		  AND ORDER_DATE BETWEEN TO_DATE(#{startDate}, 'YYYY-MM-DD') AND TO_DATE(#{endDate}, 'YYYY-MM-DD')
		ORDER BY ORDER_NO DESC
	</select>
	
</mapper>